* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to right, #cfe9f4, #b7a5fd);
  color: #333;
  height: 100vh;
  -ms-overflow-style: none; /* IE and older Edge */
}

/* Hide scrollbars for WebKit/Blink */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}